* {
  box-sizing: border-box;
  text-align: center;
}
body{
	background: #777;
}

#wrap{
	margin-top: 5px;
	margin-left: 175px;
	margin-right:175px;
	margin-bottom: 125px;
}
#header{
	text-align: center;
	margin-top: 0px;
	background: white;	
	width: 100%;
	font-family: 'Arial';
	font-size: 18px.
	line-height: 20px;
	padding: 40px;
	color: #777;
}
#nav{
	text-align: center;
	margin-top: 10px;
	background: white;	
	width: 100%;
	font-family: 'Arial';
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
	padding: 40px;
	color: #777;
}
#aside{
	float: right;
	position: relative;
	width: 40.9%;
	font-family: 'Arial';
	font-size: 18px;
	background: white;
	padding-top: 35px;
	text-align: center;
	height: 300px;
	
	 
}
#section{
	clear: both;
	position: relative;
	float: left;
	width: 660px;
	font-family: 'Arial';
	font-size: 18px;
	background: white;
	padding-top: 35px;
	text-align: center;
	height: 300px;
	
	
}
#footer{
	
	position: relative;
	text-align: center;
	margin-top: 350px;
	background: white;	
	width: 100%;
	font-family: 'Arial';
	font-size: 18px;
	padding: 40px;
	color: #777;


}
#article{
	float: middle;
	position: absolute;
	padding: 10px;
	background: #777;
	text-align: center;
	font-size: 18px;
	font-family: 'Arial';
	margin-left: 12px;
	margin-right: 15px;
	width: 620;
	margin-top: 30px;
	color: white;
}
h1{
	clear:both;
	text-align: center;
	width: 615px;	
	font-family: 'Arial';
	font-size: 18px.
	padding: 10px;
	background: white;
	color: #777;

}
h2{
	text-align: center;
	width: 615px;	
	font-family: 'Arial';
	font-size: 18px.
	padding: 10px;
	background: white;
	padding-bottom: 10px;
	color:#777;
}
.wrapper{
	color: #777;
}
